*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#mainBody{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(126, 57, 14), rgb(180, 165, 100));
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: sticky;
    top: 0;*/
}
.nameBox{
    width: 40%;
    /*border: 3px solid white;*/
}
.nameBox>h1{
    color: white;
    font-size: 100px;
}
.nameBox>p{
    color: white;
    font-size: 40px;
}
nav{
    width: 6vw;
    height: 60vh;
    /*border: 2px solid;*/ 
    position: fixed;
    left: 20px;
    z-index: 100;
}
nav>div{
    /*border: 1px solid snow;*/
    width: 4vw;
    height: 4vw;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav>div>a>abbr>i{
    color: white;
    font-size: 20px;
}
.aboutSection{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: sticky;
    top: 0;*/
    background-image: linear-gradient(rgb(126, 57, 14), rgb(180, 165, 100));
}
.aboutSection>main{
    width: 80%;
    height: 80%;
    /*border: 2px solid ;*/
    display: flex;
}
.aboutSection>main>article{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.298);
    border-radius: 30px;
    margin: 10px;
    /*border: 3px solid red;*/
}
.about{
    width: 80%;
    height: 60%;
    /*background-color: lightgreen0;*/
    display: flex;
}
.aboutArticle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
    color: white;
}
.aboutSection>main>article>img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.about>div{
    width: 50%;
    height: 100%;
    /*border: 3px solid;*/
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.298);
    margin: 10px;
    border-radius: 30px;
}
.about>li{
    padding: 10px;
}
.about ul{
    padding-top: 20px;
}
.aboutSection h1{
    font-size: 50px;
}
.aboutSection>p{
    font-size: 15px;
}
.project{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(126, 57, 14), rgb(180, 165, 100));
    display: flex;
    justify-content: center;
    align-items: center;
}
.project>main{
    width: 80%;
    height: 80%;
    border: 3px solid;
}
.project>main>h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color: white;
    padding: 30px;
}
.project>main>article{
    width: 100%;
    height: 75%;
    background: rgba(0, 0, 0, 0.298);;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.project>main>article>div{
    width: 45%;
    height: 45%;
    border: 3px solid;
}
