*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
}
main{
    width: 50%;
    height: 50%;
    background-color: brown;
}
div{
    width: 50%;
    height: 50%;
    background-color: rgba(246, 246, 246, 0.233);
}
.p1{
    font-size: 10em;
}
.p2{
    font-size: 10rem;
}