p{
    font-size: larger;
    font-family: sans-serif;
    font-weight: bold;
    font-style: oblique;
    text-transform: uppercase;
    text-indent: 60px;
}
h1{
    font-size: 10em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -30px -30px 30px grey;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 100px;
    box-shadow: 0 0 20px black;
    transition: all 5s ease-in-out;
}
h2{
    text-align: center;
    text-decoration-line: underline;
    text text-decorati+
    '; B   on-thickness: 2px;
    text-decoration-color: red;
    text-decoration-style: dashed;
    text-transform: uppercase;
}
img{
    display: flex;
    align-items: center;
    justify-content: center;
}